# Copyright (c) 2022 The ZMK Contributors
# Copyright (c) 2022 Stefan Sundin (4pplet)
# SPDX-License-Identifier: MIT

if BOARD_CYBER60

config BOARD_DESCRIPTION
    string
    default "Cyber60 keyboard"

endif # BOARD_CYBER60
